{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">Welcome!</div>
                <div class="panel-body">
                    Eagle Financial Services, your Midwest Financial Services Partner.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h1 style="padding-left: 15Px">Customer Portfolio</h1>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Overall Portfolio Performance</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>   
            <tr class="bg-info">           
                <th>Portfolio Initial Investments</th>
                <th>Portfolio Current Investments</th>
                <th>Grand Total Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_acquired_value.acquired_value__sum |addition:sum_of_initial_stock_value |intcomma}}</td>
                <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value |intcomma}}</td>
                <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value |sub:sum_acquired_value.acquired_value__sum |sub:sum_of_initial_stock_value|intcomma}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2 style="padding-left: 15Px">Stocks Information</h2>
</div>
<div class="row">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.initial_stock_value|intcomma}}
                <td>{{stock.current_stock_price|intcomma}}</td>
                <td>{{stock.current_stock_value|intcomma}}</td>
                <td>{{stock.current_stock_value |sub:stock.initial_stock_value|intcomma}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>   
            <tr class="bg-info">           
                <th>Total of Initial Stocks</th>
                <th>Total of Current Stocks</th>                
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ sum_of_initial_stock_value|intcomma }}</td>
                <td>{{ sum_current_stocks_value|intcomma }}</td>
                <td>{{ sum_current_stocks_value |sub:sum_of_initial_stock_value|intcomma }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <h2 style="padding-left: 15Px">Investment Information</h2>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer</th>
                <th>Category</th>
                <th>Description</th>
                <th>Acquired Value</th>
                <th>Acquired Date</th>
                <th>Recent Value</th>
                <th>Recent Date</th>
                <th>Results</th>
            </tr>
            </thead>
            <tbody>
            {% for investment in investments %}
                <tr>
                    <td>{{ investment.customer }}</td>
                    <td>{{ investment.category }}</td>
                    <td>{{ investment.description }}</td>
                    <td>{{ investment.acquired_value|intcomma }}</td>
                    <td>{{ investment.acquired_date }}</td>
                    <td>{{ investment.recent_value|intcomma }}</td>
                    <td>{{ investment.recent_date }}</td>                  
                    <td>{{ investment.recent_value  |sub:investment.acquired_value |intcomma }}</td>                    
                </tr>
            {% endfor %}
            </tbody>
        </table>              
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>   
                <tr class="bg-info">           
                    <th>Total of Initial Investments</th>
                    <th>Total of Current Investments</th>
                    <th>Results</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sum_acquired_value.acquired_value__sum |intcomma}}</td>
                    <td>{{ sum_recent_value.recent_value__sum |intcomma}}</td>
                    <td>{{ sum_recent_value.recent_value__sum |sub:sum_acquired_value.acquired_value__sum |intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}